h1{
    font-size: 25px;
    color:rebeccapurple;
    padding:20px;
    border:10px;
    height:500px;
    background:url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");
}

body {
    display: block; 
    margin: 0px;
}
    
*{
    border: red;
}
.main{
    background-color: teal;
    width: 100%;
    padding:10px 15px;
}
.main>div{
    display: inline-block;
    vertical-align: middle;
    
}
.main__hed{
    color: greenyellow;
    text-decoration:none;
    font-size: 25px;
    font-weight: bold;
    

}
.main_nav{
    display: inline-block;
    text-align: right;
    width: calc(100%-33);
    vertical-align: middle;
    margin:0 99px;
}
.main_it{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_st{ 
    display: inline-block;
    margin: 0 16px;
}
.main_it a{
    text-decoration: none;
    color: rgb(8, 73, 35);
    font-weight: bold;
    padding: 3px 0;


}
.main_st a::after{
 color:rebeccapurple;
 content: "(link)";
}
.main_st a:hover,
.main_st a:active{
    color:white;
    border-bottom: solid white 5px;
}


    
h2::first-letter{
    color:red;
    font-size: 40px;
}
.main_ss a{
    color: white;
    background: rgb(17, 240, 54);
    border-radius:8px ;
    padding: 8px 16px;

}
.main_ss a:hover,
.main_ss a:active{
    color:red;
    background: white;
    border:none;
}